@mixin article {
  .article__title {
    @include article-title;
  }

  .article__date {
    @include article-date;
  }

  .article__categories {
    @include article-categories;
  }

  .article__excerpt {
    @include article-excerpt;
  }

  .article__content {
    @include article-content;
  }

  .article__footnotes {
    @include article-footnotes;
  }

  @include mobile {
    background: red;
  }

  @include tablet {
    background: blue;

    @include portrait {
      background: green;
    }

    @include landscape {
      background: yellow;
    }
  }

  @include laptop {
    background: grey;
  }

  @include desktop {
    background: lightblue;
  }
}
