
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage":{
     "@type":"WebPage",
     "@id":"/"
   },
  "headline": "",
  "alternativeHeadline": "",
  
  "author": "Csongor Bartus",
  "genre": "web design and development",
  "keywords": "",
  "url": "/",
  "datePublished": "",
  "dateModified": "2019-04-24",
  "description": "",
  "publisher": {
    "@type": "Organization",
    "name": "Metamn",
    "logo": {
      "@type": "ImageObject",
      "url": "http://metamn.io/assets/images/icons/favicon-196x196.png"
    }
  }
}
</script>
